{% extends "admin/gbase_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/gdashboard.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">
        <div id="changelist" class="module">
        <table summary="{% blocktrans %}List of abused users{% endblocktrans %}">
        <caption>{% blocktrans %}Abused Users{% endblocktrans %}</caption>
        {% if abused_user_list %}
            <thead>
                <th>User</th>
                <th>Number of blocked events</th>
                <th>Number of reports</th>
                <th>Level</th>
            </thead>
            <tbody>
            {% for user in abused_user_list %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td><a href="/admin/gauth/user/{{ user.user_id }}">{{ user.user }}</a></td>
                    <td>{{ user.num_blocked_event }}</td>
                    <td>{{ user.num_reports }}</td>
                    <td>{{ user.level }}</td>
                </tr>
            {% endfor %}
            </tbody>
        {% else %}
            <tr><td>{% trans "There is no abused user" %}</td></tr>
        {% endif %}
        </table>
        </div>
</div>
{% endblock %}

{% block sidebar2 %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
        <h2>{% trans 'Recent Actions' %}</h2>
        <h3>{% trans 'My Actions' %}</h3>
            {% load glog %}
            {% get_gadmin_log 15 as admin_log for_user user %}
            {% if not admin_log %}
            <p>{% trans 'None available' %}</p>
            {% else %}
            <ul class="actionlist">
            {% for entry in admin_log %}
            <li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% elif not entry.is_not_deleted %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}history/">{{ entry.object_repr }}</a>
                {% endif %}
                <br/>
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{% trans entry.content_type.name %}{% endfilter %} {% if not entry.is_not_deleted and not entry.is_deletion %} (deleted){% endif %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
            {% endif %}
    </div>
</div>
{% endblock %}
